In [1]:
# from time import sleep
# from random import randint
from bs4 import BeautifulSoup
# import datetime
import requests
import pandas as pd
import re

In [2]:
def get_page_source(url):
    agent = {"User-Agent":"Mozilla/5.0"} # User Agent defined to avoid robot detection
    source=requests.get(url, headers=agent)
    return source.text, source.status_code

def get_soup(content):
    soup=BeautifulSoup(content, "lxml")
    return soup

In [3]:
def get_data_from_table(url = "https://fiscal.treasury.gov/surety-bonds/list-admitted-reinsurers.html"):
    text, status = get_page_source(url)
    soup = get_soup(text)
    
    result = list()
    table = soup.find('table')

    # HEADERS -- for Column names
    all_th = table.findAll('th')
    columns = []
    for th in all_th:
        columns.append(th.text.strip())

    rows = table.findAll('tr')
    for row in rows[1:]: # zero index has headings
        all_td = row.findAll('td')
        values = {}
        for i in range(len(columns)):
            values.update({columns[i] : all_td[i].text.strip()})

        result.append(values)
    return pd.DataFrame(result)

In [5]:
df = get_data_from_table()

In [7]:
df.to_csv("list_admitted_reinsurers.csv")
df

,FEIN No.,NAIC,Company,City,State
0,50254496,10014,Affiliated FM Insurance Company,Johnston,RI
1,251118791,19402,AIG Property Casualty Company,CHICAGO,IL
2,946078058,21911,"Allianz Reinsurance America, Inc.",PETALUMA,CA
3,954387273,19489,Allied World Assurance Company (U.S.) Inc.,WILMINGTON,DE
4,20493244,10690,Allied World National Assurance Company,CONCORD,NH
...,...,...,...,...,...
64,363703200,38130,Travelers Personal Insurance Company,HARTFORD,CT
65,592174734,41211,TRITON INSURANCE COMPANY,Fort Worth,TX
66,61184984,27120,Trumbull Insurance Company,Hartford,CT
67,60732738,29459,Twin City Fire Insurance Company,Indianapolis,IN
68,916027360,25747,Unigard Insurance Company,Sun Prairie,WI